<h1 class='m-4 text-center'>My Dashboard</h1>

<p class='text-center' id='dashboard-links'>
  <%= link_to "Log a Meal", new_meal_path, class: 'btn btn-info' %>
  <%= link_to "See My Results", results_path, class: 'btn btn-success' %>
</p>

<h3 class='m-4 text-center'>Your Meals</h3>
<section class="meals px-5">
  <% if @meals.any? %>
    <table class="table table-striped table-bordered" id="user-meals">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">Meal Title</th>
          <th scope="col">Date Eaten</th>
          <th scope="col" class='text-center'>Gut Feeling</th>

          <th scope="col" class='text-center'>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @meals.each do |meal| %>
          <tr id="meal-<%= meal.id %>">
            <td><%= meal.title %></td>
            <td><%= meal.localtime %></td>
            <% if meal.gut_feeling && !meal.one_day_old? %>
              <td class='text-center'><strong><%= meal.gut_feeling %></strong><br>
                <%= link_to 'Update', edit_meal_path(meal), class: 'btn btn-sm btn-warning' %></td>
            <% elsif !meal.gut_feeling && !meal.three_days_old? %>
              <td class='text-center'><%= link_to 'Add Gut Feeling', edit_meal_path(meal), class: 'btn btn-sm btn-info' %></td>
            <% else %>
              <td class='text-center'><strong><%= meal.gut_feeling %></strong></td>
            <% end %>
            <td class='text-center'><%= button_to 'Delete', meal_path(meal), method: :delete, class: 'btn btn-sm btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>There are currently no Meals</p>
  <% end %>
</section>

<script>
  $(document).ready(function () {
    $.fn.dataTable.moment( 'ddd, MMM DD, YYYY [at] hh:mma' );
    $('#user-meals').DataTable( {
      "order": [[ 1, "desc" ]]
    } );
  });
</script>
