<!DOCTYPE html>
<html>
  <head>
    <title>GutSavvyUi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'%>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'%>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js' %>
    <%= javascript_include_tag 'https://kit.fontawesome.com/e66f5856fb.js' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>

    <script>
      $(document).ready(function(){
          // Add minus icon for collapse element which is open by default
          $(".collapse.show").each(function(){
          	$(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
          });

          // Toggle plus minus icon on show hide of collapse element
          $(".collapse").on('show.bs.collapse', function(){
          	$(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
          }).on('hide.bs.collapse', function(){
          	$(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
          });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav">
        <a class="navbar-brand lobster" href="/">Gut Savvy</a>
      </ul>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
          <% if current_user %>
            <li class="nav-item">
              <a class="nav-link" href="/results">Results</a>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log a Meal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" data-method='delete' rel='nofollow'>Logout</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/google_oauth2">Sign In</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <section class="container flash-messages">
      <% flash.each do |type, message| %>
        <% if type == 'error' %>
          <article class="alert alert-danger mt-3 pb-1">
            <h6><%= message %></h6>
          </article>
        <% else %>
          <article class="alert alert-success mt-3 pb-1">
            <h6><%= message %></h6>
          </article>
        <% end %>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
