<!DOCTYPE html>
<html>
  <head>
    <title>GutSavvyUi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'%>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js' %>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Gut Savvy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-fill w-100">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
          <% if current_user %>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard"><%= current_user.name %>'s Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/results">Results</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" data-method='delete' rel='nofollow'>Logout</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/sign_in">Sign In</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <section class="container flash-messages">
      <% flash.each do |type, message| %>
        <% if type == 'error' %>
          <article class="alert alert-danger mt-3 pb-1">
            <h6><%= message %></h6>
          </article>
        <% else %>
          <article class="alert alert-success mt-3 pb-1">
            <h6><%= message %></h6>
          </article>
        <% end %>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
